
.header {
  color: white;
  background: rgb(112,179,215);
  background: linear-gradient(180deg, rgba(112,179,215,1) 20%, rgba(91,172,216,1) 100%);
  padding: 5px;
  height: 60px;
  line-height: 50px;
}

.sider {
  height: 100vh;
  background-color: white;
}

.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-submenu-selected {
  color: white;
  border-bottom: 0px;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: transparent;
}

.ant-menu-submenu-active {
  color: white;
}

.trigger {
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
  font-size: 25px;
}

.trigger:hover {
  color: #1890ff;
}
